.animation-container {
  width: 100%;
  .animation-pages-navigation {
    width: 100%;
    height: 100%;
  }
}

.animation-container {
  position: relative;
  .animation-pages-navigation {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.animation-pages-navigation {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.animation-pages-navigation {
  z-index: 1;
  &.active {
    z-index: 2;
  }
}

.animation-pages-navigation {
  background-color: #fff;
}


