/***************************************/
/* Spacing : padding */
.primary-title {
  padding: 5px 10px;
  margin-bottom: 5px;
}

/***************************************/

/***************************************/
/* Styling : background, border, font, color */
.primary-title {
  background-color: #32424f;
  font: 400 1em / 1em 'OpenSans';
  color: #fff;
}

/***************************************/