$icomoon-font-path: "fonts" !default;

$icon-zenpdv-home: "\e902";
$icon-zenpdv-calls: "\e942";
$icon-zenpdv-clock: "\e94e";
$icon-zenpdv-user: "\e971";
$icon-zenpdv-menu: "\e9bd";
$icon-zenpdv-notification: "\ea08";
$icon-zenpdv-close: "\ea0d";
$icon-zenpdv-checkmark: "\ea10";
$icon-zenpdv-arrow-right: "\ea42";
$icon-zenpdv-arrow-left: "\ea44";

