/***************************************/
/* Templating, Alignment : display, margin, height, width */
contact-us {
  display: block;
}
/***************************************/

.contact-us-affluence {
  margin-top: 10px;
}

.contact-us-call-delay__hidden {
  opacity: 0.3;
}