.DS_Store
.tmp
.git
node_modules
.settings
*.log
dist/

cordova/dev/smartphone/merges
cordova/dev/smartphone/platforms
cordova/dev/smartphone/plugins
cordova/dev/smartphone/www
cordova/dev/tablet/merges
cordova/dev/tablet/platforms
cordova/dev/tablet/plugins
cordova/dev/tablet/www

cordova/preprod/smartphone/merges
cordova/preprod/smartphone/platforms
cordova/preprod/smartphone/plugins
cordova/preprod/smartphone/www
cordova/preprod/tablet/merges
cordova/preprod/tablet/platforms
cordova/preprod/tablet/plugins
cordova/preprod/tablet/www

cordova/prod/smartphone/merges
cordova/prod/smartphone/platforms
cordova/prod/smartphone/plugins
cordova/prod/smartphone/www
cordova/prod/tablet/merges
cordova/prod/tablet/platforms
cordova/prod/tablet/plugins
cordova/prod/tablet/www