<div class="modal-logout-blockout" ng-click="$ctrl.cancel()"></div>

<div class="modal-logout-content">
  <div class="modal-logout-close icon-zenpdv icon-zenpdv-close" ng-click="$ctrl.cancel()"></div>

  <h1 class="modal-logout-title">Déconnexion</h1>

  <p class="modal-logout-detail">Voulez-vous vraiment vous déconnecter ?</p>

  <div class="modal-logout-actions">
    <div class="primary-button primary-button__valide"
      ng-click="$ctrl.confirm()">
      <span class="primary-button-label">Valider</span>
      <i class="primary-button-icon"></i>
    </div>
    <div class="primary-button"
      ng-click="$ctrl.cancel()">
      <span class="primary-button-label">Annuler</span>
      <i class="primary-button-icon"></i>
    </div>
  </div>
</div>
