radio-field {
  display: flex;
  align-items: center;

  .radio-field-action-left {
    width: 20px;
    margin-right: 20px;
  }
  .radio-field-action-right {
    width: 20px;
    margin-left: 20px;
  }
  .radio-field-list {
    flex: 1;
    overflow-x: scroll;
  }
}

radio-field {
  padding: 10px;
}

.radio-field-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-field-list-item {
  margin-left: 15px;
  &:first-child {
    margin-left: 0;
  }
}

.radio-field-input {
  display: none;
}

.radio-field-label {
  display: block;
  padding: 0.8em;
  background-color: #5ab271;
  border-radius: 1.2em;
  color: #fff;
  font: 400 0.8em / 1em 'OpenSans';
}

.radio-field-input:checked + .radio-field-label {
  background-color: #469053;
}